SERVER_HOST=0.0.0.0
SERVER_PORT=3000
APP_ENV=development
LOG_LEVEL=debug
HELLO_MESSAGE=Hello, World!
RUST_ENV=development
DATABASE=mongodb+srv://user:<password>@cluster.example.net/?retryWrites=true&w=majority
DATABASE_LOCAL=mongodb://localhost:27017/natours
DATABASE_PASSWORD=your-db-password
JWT_SECRET=super-secret-key
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90
EMAIL_USERNAME=your-email-user
EMAIL_PASSWORD=your-email-password
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
PUBLISH_URL=https://example.com
MAPBOX_ACCESS_TOKEN=pk.example.mapbox.token
